---
layout: default
title: Harrison Ford Ultras
---
<div class="video">
	{% include video-embed.html %}
</div>
<div class="content-container">
	<div class="events">
		<ul>
			{% assign events = site.events | sort: 'datum' %}
			{% for event in events %}
			{% unless event.published == 'false' %}
			<li class="paragraph">
				{{ event.text | markdownify }}
			</li>
			{% endunless %}
			{% endfor %}
		</ul>
	</div>
	<div class="info">
		<p class="paragraph"><b>HARRISON FORD ULTRAS</b> haben sich im Dezember
			2016 in Köln formiert und der absoluten Improvisation
			zugewandt. Der Verzicht auf abgesprochene Themen
			wird durch Spontaneität und die Sensibilität für
			Atmosphären ersetzt. Im Zusammenspiel ergeben sich
			Möglichkeiten der Kontemplation bis hin zur
			ekstatischen Befreiung. Loops, Effektsounds,
			Mikrotöne und rohe Perkussion schichten sich mal zu
		durchscheinenden, mal zu massiven Klangformationen.</p>
		<p class="paragraph">Bei ihren Livekonzerten wird die Dynamik zwischen
			hypnotischem Minimalismus und anarchischen
			Grenzverschiebungen am deutlichsten. Die Distanz
			zum Publikum durch eine Bühne wird meist vermieden.
			Stattdessen bauen HFU ihr Set lieber inmitten ihrer
			Zuhörer auf, teilweise auch in selbstgeschaffenen
			Skulpturen und Kulissen.
		</p>
	</div>
	<div class="albums">
		{% assign albums = site.albums | sort: 'uploaddatum' | reverse %}
		{% for album in albums %}
		{% unless album.published == 'false' %}
		<div class="album">
			<img alt="Albumcover für {{ album.name }} der Harrison Ford Ultras" title="Albumcover für {{ album.name }} der Harrison Ford Ultras" class="album-cover" src="{{ album.albumcover }}">
			<p class="paragraph">{{ album.beschreibungstext | markdownify }}</p>
		</div>
		{% endunless %}
		{% endfor %}
	</div>
</div>
<div class="about">
	<div class="about__head">HFU sind</div>
	<div class="about__members">
		g - Sebastian Bathe<br>
		b - Nolle Woida<br>
		d - Christoph Görke<br>
	</div>
	<div class="about__contact">Kontakt & Booking<br> <a href="mailto:harrison-ford-ultras@harrison-ford-ultras.com">harrison-ford-ultras@harrison-ford-ultras.com</a></div>
	<div class="social-media">
		<a href="#" target="_blank" class="social-media-icon social-media-icon--youtube"></a>
		<a href="#" target="_blank" class="social-media-icon social-media-icon--vimeo"></a>
		<a href="#" target="_blank" class="social-media-icon social-media-icon--facebook"></a>
	</div>
</div>