body {
	color: $black;
	font-family: $base-font;
	font-size: $font-size;
	font-weight: 400;
	line-height: $line-height;
}

.container {
	overflow: hidden;
	padding: 0 $horizontal-spacing;

	@media screen and (min-width: $bp) {
		max-width: 1000px;
    	margin-left: auto;
    	margin-right: auto;
  	}
}

.video {
	margin: 7rem 0 8rem;
	margin-left: -$horizontal-spacing;
	margin-right: -$horizontal-spacing;

	@media screen and (min-width: $bp) {
		max-width: 1000px;
    	margin-left: auto;
    	margin-right: auto;
  	}
}

.info {
	margin-bottom: 2rem;
}

.events {
	margin-bottom: 5rem;
}

.albums {
	border-bottom: 1px solid $black;
	padding-bottom: 4rem;
	margin-bottom: 4rem;
}

.paragraph {
	margin-bottom: $distance-2;
}

.album-cover {
	width: 100%;
	margin-bottom: $distance-2;
}

.about {
	text-align: center;

	&__head {
		margin-bottom: $distance-2;
	}

	&__members {
		margin-bottom: $distance-3;
	}

	&__contact {
		font-weight: bold;
		margin-bottom: $distance-4;
	}
}

.social-media-icon {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 40px;
	height: 40px;
	display: inline-block;
	opacity: 0.4;
	margin-right: 2rem;
	margin-bottom: $distance-4;

	&:last-child {
		margin-right: 0;
	}

	&--youtube {
		background-image: url("https://hfu-web.github.io/hfu-website/assets/images/youtube.svg");
	}

	&--vimeo {
		background-image: url("https://hfu-web.github.io/hfu-website/assets/images/vimeo.svg");
	}

	&--facebook {
		background-image: url("https://hfu-web.github.io/hfu-website/assets/images/facebook.svg");
	}
}

.impressum {
	background-color: $black;
	color: #fff;
	text-align: center;
	padding: $distance-1;
}