// Font
$base-font: -apple-system, system-ui, BlinkMacSystemFont, "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size: 1.4rem;
$line-height: 1.5;


// Colors
$black: rgba(0,0,0,0.85);

// Spacing
$horizontal-spacing: 1.4rem;
$distance-1: 1rem;
$distance-2: 2rem;
$distance-3: 3rem;
$distance-4: 4rem;
$distance-5: 5rem;
$distance-6: 6rem;

// Breakpoints
$bp: 600px;

// conatiner-widths
